/* General */
#beer-and-labels-the-content .container .post-content, #location-detail-content .container .post-content{
	padding:0 230px;
}

#find-our-beer .post-content, 
#saras-cellar .post-content, 
#our-story .post-content, 
.header-aligned.post-content,
.narrowed-container {
	padding:0 45px;
}

#our-story .post-content p, .header-aligned.post-content{
	font-size:20px;
}

.header-aligned.post-content .additional-text-content {
	font-size:16px;
	margin-top:50px;
}

.header-aligned.post-content .additional-text-content strong {
	font-size:18px;
	display:block;
}

.header-aligned.post-content .additional-text-content p {
	margin-bottom:40px;
}
.header-aligned.post-content .additional-text-content p:last-of-type {
	margin-bottom:0;
}
.cleaner {
	clear:both;
}
a {
	color:#372929;
}
a:focus {
	outline:none;
}
a:hover, a:visited {
	text-decoration:none;
	color:#372929;
}
body {
	font-family: 'Special Elite';
	font-size:16px;
	line-height:26px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#372929;
	background:url('../../../../images/page-grey-bg.jpg') repeat center center;
	background-size:1040px auto;
}
p:last-of-type {
	margin-bottom:0;
}

.page-yellow-paper-bg {
	background:url('../../../../images/page-yellow-bg.jpg') no-repeat center center;
	background-size:cover;
}
img {
	margin-bottom:0;
}
.large-container {
	margin-left:auto;
	margin-right:auto;
}

.three-fifths {
	width:60%;
}
.sub-title {
	font-size: 24px;
	line-height:24px;
	text-transform:uppercase;
	padding:22px 55px 12px;
	margin-top:0;
}
.sub-title.yellow {
	background:url('../../../../images/sub-title-yellow-paper-bg.png') no-repeat center center;
	background-size:100% 100%;
	display:inline-block;
	width:auto;
}
.sub-title.dark {
	background:url('../../../../images/sub-title-black-brushed-bg.png') no-repeat center center;
	background-size:100% 100%;
	display:inline-block;
	width:auto;
	color: #FFECBA;
}

.sub-title.dark.transparent {
	background:url('../../../../images/dark-subtitle-transparent.png') no-repeat center center;
	background-size:100% 100%;
}
.display-table {
	display:table;
	width:100%;
}
.display-cell {
	display:table-cell;
	height:100%;
	float:none;
	vertical-align:middle;
}
.y-paddings {
	padding-top:60px;
	padding-bottom:60px;
}
.y-paddings.no-padding-top {
	padding-top:0;
}
.y-paddings.no-padding-bottom {
	padding-bottom:0;
}
.one-fifth-column {
	width:20%;
	padding:0 15px;
	float:left;
	box-sizing:border-box;
}
.drawn-underline {
	padding-bottom:14px;
}
.drawn-underline:hover {
	background: url('../../../../images/drawn-underline.png') no-repeat center bottom;
	background-size:100% auto;
	text-decoration:none;
}
.learn-more-right-row {
	text-align:right;
	padding-top:30px;
}

.view-more-link {
	font-size: 18px;
	letter-spacing:1px;
}
.view-all-row {
	text-align:right;
}

/* Header */
#page-top-banner-wrapper {
	position:relative;
}
#main-header-bg {
	height:329px;
	position:absolute;
	z-index:0;
	width:100%;
}
#header-logo-menu {
	max-width:192px;
	min-width:192px;
	background: url('../../../../images/main-menu-bg.jpg') center center;
	background-size:cover;
	text-align:center;
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    position:relative;
    top:-4px;
    float:left;
    margin-bottom:43px;
    z-index:9;
}
#logo-container {
	background: url('../../../../images/top-logo-bg.png') no-repeat center bottom;
	padding:20px 0 26px;
}
#logo-container img {
	width:86px;
	display:block;
	margin:0 auto;
}
#banner-heading-text {
	position:absolute;
	font-size:70px;
	margin:0;
	text-transform:uppercase;
	line-height:90px;
	letter-spacing:4px;
	left:240px;
	bottom:-38px;
}

#banner-heading-text .child-page-header {
	display:inline-block;
	margin-bottom:36px;
}

/* Navigation */
#main-nav ul {
	list-style-type:none;
	margin:0 auto;
	padding:0 20px 20px;
}
#main-nav ul > li {
	padding-left:0;
	padding-right:0;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#main-nav ul li {
	padding-top:10px;
	line-height:20px;
	display:block;
}
#main-nav ul li + li {
	margin-top:10px;
	border-top:dotted #372929 1px;
}
#main-nav ul li a {
	color: #000;
	text-transform:capitalize;
	font-size:10px;
	padding:5px 0; 
	letter-spacing:1px;
}
#main-nav ul li.current-menu-item > a {
	background:url('../../../../images/drawn-underline.png') no-repeat center bottom;
	padding-bottom:9px;
	background-size:76px;
}
#main-nav ul li.current_page_parent > a {
	background:url('../../../../images/drawn-underline.png') no-repeat center bottom;
	background-size:76px;
}
#main-nav ul li a:hover {
	text-decoration:none;
}
#main-nav ul li.menu-item-has-children {
	position:relative;
}

#main-nav ul li.menu-item-has-children .sub-menu {
	position:absolute;
	left:150px;
	top:0;
	z-index:99;
	background:url('../../../../images/main-menu-bg.jpg') center center;
	min-width:120%;
	padding:15px;
	display:none;
}
.overlay-genie {
	z-index:99;
}
.overlay ul li a {
	font-size:24px;
}
.overlay ul li .sub-menu {
	display:none;
}
button.hamburger {
	position:relative;
	z-index:99999999999 !important;
	outline:none !important;
}
button.hamburger:hover, button.hamburger.is-active {
	box-shadow:none !important;
	border:none !important;
	background:transparent !important;
}
button.hamburger .hamburger-box .hamburger-inner, button.hamburger .hamburger-box .hamburger-inner:before, button.hamburger .hamburger-box .hamburger-inner:after {
	background-color:#FFECBA !important;
	border-radius:0;
	height:2px;
}
button.hamburger.is-active .hamburger-box .hamburger-inner {
	background-color:transparent !important;
}
.hamburger-inner::before {
	top:-6px;
}
.hamburger-inner::after {
	bottom:-6px;
}
/* Footer */
#main-footer {
	background:#1C1313 url('../../../../images/top-of-footer-bg.png') repeat-x left -7px;
	color:#FCFCFC;
	background-size:1000px;
}
#main-footer .sub-title {
	background:none;
	padding:0;
	margin-bottom:20px;
}
#main-footer .hours-location {
	font-size: 16px;
	margin-top:0;
}
#main-footer  h3 {
	font-size:18px;
	margin-top:4px;
}
#main-footer .footer-hours-group {
	margin-bottom:30px;
}
#main-footer .footer-social-group {
	margin-top:10px;
	margin-left:0;
}
#main-footer .footer-social-group li a {
	display:block;
}
#main-footer .footer-social-group img {
	width: 20px;
}
#main-footer .footer-social-group li + li {
	margin-left:18px;
}

/* Gallery Items */
#gallery-loop {
	margin:0 -6px;
}
.gallery-item {
	width:33.3333333%;
	padding:6px;
	float:none;
	clear:both;
}

/* Instagram Loop */
#instagram-feed {
	background:#FFECBA url('../../../../images/large-overhead-map.jpg') no-repeat center center;
	background-size:cover;
}
#instagram-feed #instafeed {
	margin-bottom:28px;
}
#instagram-feed .sub-title-row {
	position:relative;
	top:-30px;
	text-align:center;
}
#instagram-feed .instagram-item:nth-child(n+4) {
	margin-top:30px;
}

/* Age Verification */
#age-verification {
	position:fixed;
	width:100%;
	height:100%;
	z-index:999999999;
	background:#FFECBA url('../../../../images/large-overhead-map.jpg') no-repeat center center;
	background-size:cover;
	top:0;
	left:0;
	text-align:center;
}

#age-verification-logo {
	width: 485px;
	margin:-2px auto 0;
}

#age-verification #close-verification {
	border: 2px solid #372929;
	display:inline-block;
	width:180px;
	padding:12px 0;
}

#age-verification h2 {
	margin: 60px 0 40px;
	text-transform:uppercase;
	font-size:60px;
}

#age-verification #underage {
	background:url('../../../../images/drawn-underline.png') no-repeat center bottom;
	background-size:85%;
	padding-bottom:18px;
	text-decoration:none;
}

#age-verification #close-verification, #age-verification #underage {
	margin:0 30px;
}
/* Beer Loop Items */
.beer-item {
	padding:0 5px;
	margin-bottom:10px;
	overflow:hidden;
}
.beer-item:hover {

}
.beer-item a {
	background-color:#FCFCFC;
	height:162px;
	max-height:162px;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    overflow:hidden;
}
.beer-item a span.display-cell {
	vertical-align:middle;
	text-align:center;
	height:162px;
	max-height:162px;
	position:relative;
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
.beer-item a span.display-cell:hover {
	background-color: #FFECBA;
}
.beer-item img {
	max-width:75%;
	max-height:50%;
	position:relative;
	z-index:9;
}

/* Homepage */
#hover-locations .hover-location .interior {
	text-align:center;
	position:relative;
	overflow:hidden;
}
#hover-locations .hover-location img.map-image {
	position:absolute;
	top:-9999999px;
	left:-9999999px;
	bottom:-9999999px;
	right:-9999999px;
	min-width:100%;
	height:auto;
	margin:auto;
	z-index:-1;
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
}
#hover-locations .sub-title-row {
	position:relative;
}
#hover-locations .sub-title{
	z-index:9;
	position:absolute;
	left:0;
	top:0;
}
#hover-locations #hover-locations-row {
	padding-top:40px;
}
#hover-locations-row .col-md-6 {
	float:left;
	width:50%;
}
#hover-locations .hover-location a {
	display:table;
	height:100%;
	width:100%;
	text-transform:uppercase;
	color:#372929;
}
#hover-locations .hover-location a:hover {
	text-decoration:none;
}
#hover-locations .hover-location a h3 {
	font-size:36px;
}
#hover-locations .hover-location a h4 {
	font-size:20px;
}
#hover-locations .hover-location a span {
	width:100%;
	height:220px;
	-webkit-transition: background 1s; /* Safari */
    transition: background 1s;
}

#hover-locations .hover-location a:hover span {
	background:url('../../../../images/yellow-transparency.png') repeat center center;
}

#homepage-beers .sub-title-row, #homepage-photos .sub-title-row {
	text-align:center;
	margin-bottom:30px;
}
#homepage-beers .beers-content {
	text-align:center;
	margin-top:15px;
}
#homepage-beers #view-all-beers-row {
	margin-top:30px;
}
#homepage-beers #view-all-beers-row a {
	color: #372929;
}

#homepage-on-tap {
	background:#FFECBA url('../../../../images/large-overhead-map.jpg') no-repeat center center;
	background-size:cover;
	padding:30px 0;
}
#homepage-on-tap  .sub-title-row {
	text-align:center;
	margin-bottom:20px;
}

#homepage-on-tap #instafeed {
	margin:0 auto;
	width:684px;
	padding:35px;
	background:url('../../../../images/on-tap-border.png') no-repeat center center;
	background-size:cover;
}
#homepage-on-tap #instafeed img {
	display:block;
	margin:0 auto;
}

#homepage-photos #homepage-photos-loop {
	margin-left:-6px;
	margin-right:-6px;
}
#homepage-photos #homepage-photos-loop .home-gallery-item {
	padding-left:6px;
	padding-right:6px;
	margin-bottom:12px;
	float:none;
}

/* Beer Detail */
.single-the_beers #main-header-bg, .single-the_beers #main-header {
	height:400px;
}
#beer-details-row {
	background-color:#FFF;
}
#beer-single-left img {
	max-width:161px;
	display:block;
	margin:0 auto;
}
#beer-specs {
	margin-left:0;
	margin:28px 0 40px;
}
#beer-specs li {
	padding-right:20px;
}
#beer-specs li + li {
	padding-left:20px;
	border-left:1px solid #372929;
}

#beer-specs .spec-title {
	text-transform:uppercase;
	font-weight:800;
}

#beer-single-description {
	width:65%;
}
#more-beers-row {
	background: #FFECBA url('../../../../images/large-overhead-map.jpg') no-repeat center center;
	background-size:cover;
}
#more-beers-row .sub-title-row {
	text-align:center;
	position:relative;
	top:-30px;
}

/* Beers and Labels Landing Page */

.beer-category-group .sub-title-wrapper {
	text-align:center;
}

.beer-category-group + .beer-category-group .sub-title {
	margin-top:30px;
}

#the_beer_filters {
	text-align:center;
}
#beer-categories-filters {
	position:relative;
}
#beer-categories-filters .sub-title.yellow {
	position:absolute;
	top:-15px;
	left:-5px;
	padding-left:60px;
}
#the_beer_filters li {
	margin-left:-4px;
	padding:0 10px;
	position:relative;
	padding-bottom:10px;
}
#the_beer_filters li + li:before {
	content:'|';
	position:absolute;
	left:0;
}

#the_beer_filters li a {
	cursor:pointer;
	text-transform:uppercase;
	font-size:18px;
	padding:10px;
}
#the_beer_filters li a:hover {
	text-decoration:none;
}

#the_beer_filters li.active {
background:url('../../../../images/active-filter-underline.png') no-repeat center bottom;
background-size:80%;
}
/* Find Our Beers */

#find-our-beer .post-content p {
	font-size:20px;
}
#find-our-beer #store-locator {
	position:relative;
}
#find-our-beer #store-locator .sub-title {
	position:absolute;
	top:-30px;
	left:0;
	z-index:9999;
}
#wpsl-result-list {
	display:none !important;
}
#find-our-beer #wpsl-search-wrap, #find-our-beer .wpsl-geolocation-run, #find-our-beer .wpsl-search{
	max-height:0 !important;
	display:none;
	overflow:hidden;
}
#find-our-beer .gm-style-iw:parent {
	background-color: #FFECBA;
}
#find-our-beer .wpsl-info-window span, #find-our-beer .wpsl-info-window strong {
	font-family:'Special Elite';
	font-weight:400;
}
#find-our-beer .gm-style-iw {
	background:#FFECBA;
	width:100% !important;
	left:0 !important;
	top:30px !important;
	padding:20px;
	box-sizing:content-box;
	position:relative !important;
}
#find-our-beer .gm-style-iw + div {
	opacity:1 !important;
	background:#FFECBA;
	top:40px !important;
	right:-18px !important;
}
#find-our-beer .location-infobox {
	display:none; !important;
}
#wpsl-wrap {
	margin-bottom:0;
}
#saras-cellar-row {
	background:url('../../../../images/large-yellow-map.jpg') no-repeat center center;
	background-size:cover;
	margin-top:100px;
}
#saras-cellar-row .sub-title-row {
	text-align:center;
	position:relative;
	top:-88px;
}
#saras-cellar-row .left-col {
	text-align:center;
}
#saras-cellar-row .left-col img {
	width: 335px;
}
#wholesale-row .sub-title-row {
	text-align:center;
	margin-bottom:40px;
}

/* SARAs Cellar */
#saras-cellar .post-content p {
	font-size:20px;
}
#saras-cellar .post-content.sub-content {
	padding-top:50px;
	padding-bottom:70px;
}

#saras-cellar .post-content.sub-content p {
	font-size: 16px;
}

#saras-cellar .post-content.sub-content strong {
	font-weight:800;
	margin-bottom:20px;
	font-size:20px;
	display:inline-block;
}

#saras-cellar #saras-cellar-logo {
	padding:50px 0 0;
}
#saras-cellar #saras-cellar-logo img {
	width:240px;
}
/* Location Detail */
#location-hours-and-address {
	margin-top:35px;
}
#location-hours-and-address h2 {
	font-size:20px;
}
#location-hours-and-address p {
	font-size:14px;
}
#location-map {
	height:622px;
}
#other-locations .sub-title-wrapper {
	text-align:center;
	position:relative;
	z-index:2;
}

#other-locations .hover-location {
	position:relative;
	margin:-70px auto 0;
}

#other-locations .hover-location a {
	position:absolute;
	left:0;
	top:0;
}

/* Our Story */

#our-story-content-row {
	padding-top:30px;
}
#our-story-content-row .left-col, #our-story-content-row .right-col {
	width:40%;
	float:left;
	padding:0 15px;
}
#our-story-content-row .link-wrapper {
	padding-top:40px;
	text-align:right;
}

/* Contact */


@media screen and (min-width:1630px) {
	.large-container {
		width:1600px;
	}
}

@media screen and (min-width:1140px){
	.container {
		width:1140px;
		min-width:1140px;
	}

}

@media screen and (max-width:1139px) {

	/* Header */
	#banner-heading-text {
		font-size:68px;

	}
}

@media screen and (min-width:992px) {
	/* Header */
	#mobile-header {
		display:none;
	}

	

	/* Homepage */
	#hover-locations .hover-location .interior:hover img.map-image {
	min-width:150%;
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Safari */
    transform: rotate(-15deg);
}
}

@media screen and (max-width:991px) {
	/* General */
	.view-all-row {
		text-align:center;
	}

	#beer-and-labels-the-content .container .post-content, 
	#location-detail-content .container .post-content {
		padding-left:5px;
		padding-right:5px;
	}

	/* Header */
	#mobile-header {
		display:block;
		background-color:#372A29;
		position:relative;
		padding:20px 0 8px;
	}
	#mobile-header .container {
		padding-left:20px;
	}

	#mobile-header .col-md-6 {
		float:left;
		width:50%;
	}
	#mobile-header  #mobile-header-logo img{
		width: 113px;
	}
	#mobile-header #favicon-container {
		text-align:right;
	}
	#mobile-header #favicon-container  img {
		width: 50px;
		padding:5px;
		cursor:pointer;
	}
	#main-header {
		height:420px;
	}
	#main-header #header-logo-menu {
		display:none;
	}
	#banner-heading-text {
		padding-top:50px;
		padding-left:20px;
		float:none;
		font-size:50px;
		line-height:60px;
		left:0;
		width:100%;
		bottom:-235px;
	}

	#main-header-bg {
		top:92px;
	}

	/* Beer and Labels */
	#beer-categories-filters .sub-title.yellow {
		position:static;
		margin-bottom:20px;
	}
	
	
	/* Gallery Items */
	#view-all-photos-row {
		padding-top:30px;
	}
	.gallery-item {
		width:50%;
	}

	/* Homepage */
	.home #hover-locations {
		margin-top: -88px;
	}
	#hover-locations .sub-title-row {
		text-align:center;
	}
	#hover-locations .sub-title {
		position:static;
	}
	#hover-locations {
		margin-top:-28px;
	}
	#hover-locations img {
		max-height:none;
		max-width:none;
		min-height:100%;
	}
	.home #homepage-beers {
		padding-bottom:0px;
	}
	#homepage-beers .beer-item {
		width:50%;
	}
	#homepage-photos .sub-title-row {
		top:-28px;
	}
	}
@media screen and (min-width:768px) {
	#page-top-banner-wrapper {
		background-image:none !important;
	}
}
@media screen and (max-width:767px) {
	/* General */
	.center-mobile {
		text-align:center;
	}
	#main-header-bg {
		height:auto;
	}
	#banner-heading-text {
		font-size:30px;
		line-height:44px;
		padding-right:20px;
		padding-top:0;
	}
	#banner-heading-text br {
		display:none;
	}
	#page-top-banner-wrapper {
		height:329px;
		width:100%;
		display:table;
	}
	#banner-heading-text {
		position:static;
		display:table-cell;
		height:100%;
		vertical-align:middle;
		width:100%;
	}

	/* Locations Row */
	#hover-locations-row .col-md-6 {
		float:none;
		width:100%;
		max-width:450px;
		margin-left:auto;
		margin-right:auto;
	}
	#hover-locations-row .col-md-6.taproom-location {
		margin-top:30px;
	}

	/* Homepage */
	#homepage-on-tap #instafeed {
		width:600px;
		max-width:100%;
	}

	/* Beers and Labels */
	#the_beer_filters li {
		display:block;
		margin-left:0;
	}
	#the_beer_filters li + li:before {
		display:none;
	}
	#the_beer_filters li.active {
		background-size:130px;
	}
	.one-fifth-column.beer-item {
		width:50%;
	}

	#beer-and-labels-below-the-content .container {
		padding-top:30px;
		padding-bottom:30px;
	}


}