/* General */
.cleaner {
	clear:both;
}
a {
	color:#372929;
}
a:focus {
	outline:none;
}

a:hover {
	text-decoration:none;
	color:#372929;
}
body {
	font-family: 'Special Elite';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#372929;
	background:url('../../../../images/page-grey-bg.jpg') no-repeat center center;
	background-size:cover;
}
.page-yellow-paper-bg {
	background:url('../../../../images/page-yellow-bg.jpg') no-repeat center center;
	background-size:cover;
}
img {
	margin-bottom:0;
}
.large-container {
	margin-left:auto;
	margin-right:auto;
}
.sub-title {
	font-size: 24px;
	line-height:24px;
	text-transform:uppercase;
	padding:22px 55px 12px;
	margin-top:0;
}
.sub-title.yellow {
	background:url('../../../../images/sub-title-yellow-paper-bg.png') no-repeat center center;
	background-size:100% 100%;
	display:inline-block;
	width:auto;
}
.sub-title.dark {
	background:url('../../../../images/sub-title-black-brushed-bg.png') no-repeat center center;
	background-size:100% 100%;
	display:inline-block;
	width:auto;
	color: #FFECBA;
}

.display-table {
	display:table;
	width:100%;
}
.display-cell {
	display:table-cell;
	height:100%;
	float:none;
	vertical-align:middle;
}
.y-paddings {
	padding-top:60px;
	padding-bottom:60px;
}
.y-paddings.no-padding-top {
	padding-top:0;
}
.y-paddings.no-padding-bottom {
	padding-bottom:0;
}
.one-fifth-column {
	width:20%;
	padding:0 15px;
	float:left;
	box-sizing:border-box;
}
.drawn-underline {
	background: url('../../../../images/drawn-underline.png') no-repeat center bottom;
	background-size:100% auto;
	padding-bottom:14px;
}
.drawn-underline:hover {
	text-decoration:none;
}
.view-more-link {
	font-size: 18px;
	letter-spacing:1px;
}
.view-all-row {
	text-align:right;
}

/* Header */
#page-top-banner-wrapper {
	position:relative;
}
#main-header-bg {
	height:329px;
	position:absolute;
	z-index:0;
	width:100%;
}
#header-logo-menu {
	max-width:192px;
	min-width:192px;
	background: url('../../../../images/main-menu-bg.jpg') center center;
	background-size:cover;
	text-align:center;
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    position:relative;
    top:-4px;
    float:left;
    margin-bottom:43px;
}
#logo-container {
	background: url('../../../../images/top-logo-bg.png') no-repeat center bottom;
	padding:20px 0 26px;
}
#logo-container img {
	width:86px;
	display:block;
	margin:0 auto;
}
#banner-heading-text {
	position:absolute;
	float:left;
	font-size:70px;
	margin:0;
	text-transform:uppercase;
	line-height:90px;
	letter-spacing:4px;
	left:240px;
	bottom:-50px;
}
/* Navigation */
#main-nav ul {
	list-style-type:none;
	padding-left:0;
	max-width: 100px;
	margin:0 auto;
	padding-bottom:20px;
}
#main-nav ul li  {
	padding-top:10px;
	line-height:14px;
	display:block;
}
#main-nav ul li + li{
	margin-top:10px;
	border-top:dotted #372929 1px;
}
#main-nav ul li a {
	color: #000;
	text-transform:uppercase;
	font-size:11px;
	padding:5px 0; 
	letter-spacing:1px;
}
#main-nav ul li a:hover {
	text-decoration:none;
}
.overlay-genie {
	z-index:99;
}
button.hamburger {
	position:relative;
	z-index:99999999999 !important;
}
/* Footer */
#main-footer {
	background:#1C1313 url('../../../../images/top-of-footer-bg.jpg') repeat-x left top;
	color:#FCFCFC;
}
#main-footer .sub-title {
	background:none;
	padding:0;
	margin-bottom:20px;
}
#main-footer .hours-location {
	font-size: 16px;
	margin-top:0;
}
#main-footer .footer-hours-group {
	margin-bottom:30px;
}
#main-footer .footer-social-group {
	margin-top:10px;
	margin-left:0;
}
#main-footer .footer-social-group li a {
	display:block;
}
#main-footer .footer-social-group img {
	width: 20px;
}
#main-footer .footer-social-group li + li {
	margin-left:18px;
}

/* Age Verification */
#age-verification {
	position:fixed;
	width:100%;
	height:100%;
	z-index:999999999;
	background:#FFECBA url('../../../../images/large-overhead-map.jpg') no-repeat center center;
	background-size:cover;
	top:0;
	left:0;
	text-align:center;
}

#age-verification-logo {
	width: 485px;
	margin:-2px auto 0;
}

#age-verification #close-verification {
	border: 2px solid #372929;
	display:inline-block;
	width:180px;
	padding:12px 0;
}

#age-verification h2 {
	margin: 60px 0 40px;
	text-transform:uppercase;
	font-size:60px;
}

#age-verification #underage {
	background:url('../../../../images/drawn-underline.png') no-repeat center bottom;
	background-size:85%;
	padding-bottom:18px;
	text-decoration:none;
}

#age-verification #close-verification, #age-verification #underage {
	margin:0 30px;
}
/* Beer Loop Items */
.beer-item {
	padding:0 10px;
	margin-bottom:20px;
	overflow:hidden;
}
.beer-item:hover {

}
.beer-item a {
	background-color:#FCFCFC;
	height:162px;
	max-height:162px;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    overflow:hidden;
}
.beer-item a span.display-cell {
	vertical-align:middle;
	text-align:center;
	height:162px;
	max-height:162px;
	position:relative;
}
.beer-item div.overlay {
	position: absolute;
	background: #FFECBA;
	width: 100%;
	height: 162px;
	top:-300px;
}
.beer-item img {
	max-width:75%;
	max-height:50%;
	position:relative;
	z-index:9;
}

/* Homepage */

#homepage-locations .home-location .interior {
	text-align:center;
	position:relative;
	overflow:hidden;
}
#homepage-locations .home-location img.map-image {
	position:absolute;
	top:-9999999px;
	left:-9999999px;
	bottom:-9999999px;
	right:-9999999px;
	min-width:100%;
	
	
	height:auto;
	margin:auto;
	z-index:-1;
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
}

#homepage-locations .sub-title-row {
	position:relative;
}
#homepage-locations .sub-title{
	z-index:9;
	position:absolute;
	left:0;
	top:0;
}

#homepage-locations #home-locations-row {
	padding-top:40px;
}
#home-locations-row .col-md-6 {
	float:left;
	width:50%;
}
#homepage-locations .home-location a {
	display:table;
	height:100%;
	width:100%;
	text-transform:uppercase;
	color:#372929;
}
#homepage-locations .home-location a:hover {
	text-decoration:none;
}
#homepage-locations .home-location a h3 {
	font-size:36px;
}
#homepage-locations .home-location a h4 {
	font-size:20px;
}
#homepage-locations .home-location a span {
	width:100%;
	height:220px;
}
#homepage-beers .sub-title-row, #homepage-photos .sub-title-row {
	text-align:center;
}
#homepage-beers .beers-content {
	text-align:center;
	margin-top:15px;
}

#homepage-beers #view-all-beers-row a {
	color: #372929;
}

#homepage-photos .sub-title-row  {
	position:relative;
	top:-15px;
}
#homepage-photos #homepage-photos-loop {
	margin-left:-6px;
	margin-right:-6px;
}
#homepage-photos #homepage-photos-loop .home-gallery-item {
	padding-left:6px;
	padding-right:6px;
	margin-bottom:12px;
}

/* Beer Detail */
#beer-details-row {
	background-color:#FFF;
}
#beer-single-left img {
	max-width:161px;
	display:block;
	margin:0 auto;
}
#beer-specs {
	margin-left:0;
	margin:28px 0 40px;
}
#beer-specs li {
	padding-right:20px;
}
#beer-specs li + li {
	padding-left:20px;
	border-left:1px solid #372929;
}

#beer-specs .spec-title {
	text-transform:uppercase;
	font-weight:800;
}

#beer-single-description {
	width:65%;
}
#more-beers-row .sub-title-row {
	text-align:center;
}

/* Beers and Labels Landing Page */
#beer-and-labels-the-content {
	background-color:#FFF;
}
#beer-and-labels-the-content .container .post-content{
	padding:0 230px;
}

.beer-category-group .sub-title-wrapper {
	text-align:center;
}

#the_beer_filters {
	text-align:center;
}
#the_beer_filters li {
	margin-left:-4px;
	padding:0 10px;
	position:relative;
	padding-bottom:10px;
}
#the_beer_filters li + li:before {
	content:'|';
	position:absolute;
	left:0;
}

#the_beer_filters li a {
	cursor:pointer;
	text-transform:uppercase;
	font-size:18px;
	padding:10px;
}
#the_beer_filters li a:hover {
	text-decoration:none;
}

#the_beer_filters li.active {
background:url('../../../../images/active-filter-underline.png') no-repeat center bottom;
background-size:80%;
}

@media screen and (min-width:1630px) {
	.large-container {
		width:1600px;
	}
}

@media screen and (min-width:1140px){
	.container {
		width:1140px;
		min-width:1140px;
	}

}

@media screen and (max-width:1139px) {

	/* Header */
	#banner-heading-text {
		font-size:68px;

	}
}

@media screen and (min-width:992px) {
	/* Header */
	#mobile-header {
		display:none;
	}

	/* Homepage */
	#homepage-locations .home-location .interior:hover img.map-image {
	min-width:160%;
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Safari */
    transform: rotate(-15deg);
}
}

@media screen and (max-width:991px) {
	/* General */
	.view-all-row {
		text-align:center;
	}

	/* Header */
	#mobile-header {
		display:block;
		background-color:#372A29;
		position:relative;
		padding:20px 0;
	}
	#mobile-header .col-md-6 {
		float:left;
		width:50%;
	}
	#mobile-header  #mobile-header-logo img{
		width: 113px;
	}
	#mobile-header #favicon-container {
		text-align:right;
	}
	#mobile-header #favicon-container  img {
		width: 50px;
		padding:5px;
		cursor:pointer;
	}
	#main-header {
		height:420px;
	}
	#main-header #header-logo-menu {
		display:none;
	}
	#banner-heading-text {
		padding-top:50px;
		padding-left:0;
		float:none;
		font-size:50px;
		line-height:60px;
	}
	#main-header-bg {
		top:92px;
	}

	/* Homepage */
	#homepage-locations .sub-title-row {
		text-align:center;
	}
	#homepage-locations .sub-title {
		position:static;
	}
	#homepage-locations {
		margin-top:-28px;
	}
	#homepage-locations img {
		max-height:none;
		max-width:none;
		min-height:100%;
	}

	#homepage-beers .beer-item {
		width:50%;
	}
	#homepage-photos .sub-title-row {
		top:-28px;
	}
	}